@model BankManagementSystem.Models.Customer

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Customer</h4>
<hr />
<div class="row">
    <div class="">
        <form asp-action="Create" onsubmit="return check();" class="row">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group col-6" >
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group col-6">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group col-6">
                <label asp-for="DateOfBirth" class="control-label"></label>
                <input type="date" name="DateOfBirth" class="form-control" />
                @*<input asp-for="DateOfBirth" class="form-control" />*@
                <span asp-validation-for="DateOfBirth" class="text-danger"></span>
            </div>
            <div class="form-group col-6">
                <label asp-for="Gender" class="control-label"></label>
                <select name="Gender" class="Form-control form-select">
                    <option value="">--Select--</option>
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                    <option value="Other">Other</option>
                </select>
                <span asp-validation-for="Gender" class="text-danger"></span>
            </div>
            <div class="form-group col-6">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group col-6">
                <label asp-for="PhoneNumber" class="control-label"></label>
                <input type="string" maxlength="10" id="Create_PhoneNo" accept="0-9" name="PhoneNumber" onchange="return phonevalid();" class="form-control" />
                @*   <input asp-for="PhoneNumber" class="form-control" />*@
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            <hr class="mt-3"/>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
<script>
    function check() {
        console.log("es");
        phonevalid();

    }
    function phonevalid()
    {
        var phone = $("#Create_PhoneNo").val;
        var pattern = "/^[0-9]$/";
        if(phone.count!=10)
        {
            console.log("false");
            return false;
        }
        else if(!phone.match(pattern))
        {
            return false;
        }
    }
</script>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
